body{
  margin: 0;
  border: 0;
  padding: 0;
}

#head{
  margin: 0;
  border: 0;
  padding: 0;
}

#home, #about, #portfolio, #contact{
  margin: 0;
  border: 0;
  padding-top: 6em;
  position: relative;
  width: 100%;
  min-height: 100%;
  background-repeat:no-repeat;
  background-size:cover;
}

#home {
  position: fixed;
  height: 100%;   
  background-image: url(../images/technology-791032_1920x1280.jpg);
}

.jumbotron {
  background-color: #EEEEEE;
  background-color: rgb(238,238,238);
  background-color: rgba(238,238,238,0.6);
}

.jumbotron .container{
  max-width: 85%;
}
